.galaxy img{  
        width: 50%;
}
.gallery img{
        width: 25%;
        border-color: firebrick;
}

#menu{ 
    width: 100%; 
    height: 40px; 
    background-color: peachpuff;
    padding:top,12px;
     
}
#menu a{
    font-family: helvetica,sans-serif;
    text-decoration: none;
    color:firebrick;
    padding right: 23 px;
    padding left:23px;
    font-size: 14 px;
    font-weight: 800;
}
#menu a:hover{
    color: black;
};
    
}
#menu-bar a:{
    font-family: helvetica,sans-serif;
    text-decoration: none;
    color: brown;
    
}
#menu-bar a:hover{
    color: orangered;
    font-family: helvetica,sans-serif;
    
}
table{
    font-family:Helvetica,sans-serif;
    border-collapse: collapse; border-width: 1px;
    border-style:solid;
    border-color: orange;
    font-size: 14px;


    
}
th{
    font-weight: 800;
    background-color: orangered;
    color: #ffffff;
    font-family: serif;
    font-size: 17px;
    border-collapse: separate;
}